{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Outros aplicativos") }}{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
    <div style="font-size: 125%; text-align: left">
        <div class="w3-row" style="padding-top:60px">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                <p>
                    {{ _("A iniciativa do <b>Projeto Novo Museu do Ipiranga</b> tem desenvolvido uma série de aplicativos, chamada <b>Wiki Museu do Ipiranga</b>, com o objetivo de convidar você a atuar no trabalho de investigação e curadoria das obras e objetos do acervo do Museu do Ipiranga.") }}
                </p>
            </div>
        </div>
        {# Quantos tem? #}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half" style="padding-top: 30px; padding-bottom: 30px">
                <a target="_blank" href="https://wikiquantos.toolforge.org/" style="background-color:transparent">
                    {% if lang=="en" %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Quantos tem - en.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Quantos tem?") }}' width="100%"/>
                    {% else %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Quantos tem - pt.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Quantos tem?") }}' width="100%"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                {{ _("<b>Quantos tem?</b> te convida a contar quantos elementos estão presentes nas obras do acervo do Museu do Ipiranga.") }}
                {{ _("Por exemplo, quantos cordeiros estão retratados no quadro <a target=\"_blank\" href=\"https://wikiquantos.toolforge.org/qid/Q52303216/pt\"><i>Mulher na Janela Alimentando Cordeiros, Menino Sentado numa Banqueta</i></a>, de <a target=\"_blank\" href=\"https://wikiquantos.toolforge.org/criador/Q5474348\">Adrien Henri Vital van Emelen</a>?") }}
            </div>
        </div>
        {# Com que roupa eu vou? #}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half" style="padding-top: 30px; padding-bottom: 30px">
                <a target="_blank" href="https://wikiroupas.toolforge.org/" style="background-color:transparent">
                    {% if lang=="en" %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Com que roupa eu vou - en.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Com que roupa eu vou?") }}' width="100%"/>
                    {% else %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Com que roupa eu vou - pt.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Com que roupa eu vou?") }}' width="100%"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                {{ _("<b>Com que roupa eu vou?</b> te convida a descrever as roupas e os acessórios das pessoas retratadas em obras do acervo do Museu do Ipiranga.") }}
                {{ _("Por exemplo, quais acessórios são usados por Dona Jessy de Souza Queiroz em seu <a target=\"_blank\" href=\"https://wikiroupas.toolforge.org/item/Q52302832\"><i>retrato por Karl Ernst Papf</i></a>?") }}
            </div>
        </div>
        {# Qual a marca? #}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half" style="padding-top: 30px; padding-bottom: 30px">
                <a target="_blank" href="https://wikimarcas.toolforge.org/" style="background-color:transparent">
                    {% if lang=="en" %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Qual a marca - en.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Qual a marca?") }}' width="100%"/>
                    {% else %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Qual a marca - pt.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Qual a marca?") }}' width="100%"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                {{ _("<b>Qual a marca?</b> te convida a identificar as marcas de objetos do acervo do Museu do Ipiranga.") }}
                {{ _("Por exemplo, qual a marca do <a target=\"_blank\" href=\"https://wikimarcas.toolforge.org/colecao/brinquedos\"><i>brinquedo</i></a> <a target=\"_blank\" href=\"https://wikimarcas.toolforge.org/item/Q65033132\"><i>Trem de luxo Nº2</i></a>?") }}
            </div>
        </div>
        {# Qual o ornamento? #}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half" style="padding-top: 30px; padding-bottom: 30px">
                <a target="_blank" href="https://wikimotivos.toolforge.org/" style="background-color:transparent">
                    {% if lang=="en" %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Qual o ornamento - en.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Qual o ornamento?") }}' width="100%"/>
                    {% else %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Qual o ornamento - pt.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Qual o ornamento?") }}' width="100%"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                {{ _("<b>Qual o ornamento?</b> te convida a identificar os ornamentos representados em objetos do acervo do Museu do Ipiranga.") }}
                {{ _("Por exemplo, qual tipo de flor está representada numa <a target=\"_blank\" href=\"https://wikimotivos.toolforge.org/item/Q106210419\"><i>sopeira com tampa</i> produzida pelas Indústrias Reunidas Fábricas Matarazzo</a>?") }}
            </div>
        </div>
        {# Para que serve? #}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half" style="padding-top: 30px; padding-bottom: 30px">
                <a target="_blank" href="https://wikiusos.toolforge.org/" style="background-color:transparent">
                    {% if lang=="en" %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Para que serve - en.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Para que serve?") }}' width="100%"/>
                    {% else %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - Para que serve - pt.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - Para que serve?") }}' width="100%"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                {{ _("<b>Para que serve?</b> te convida a fotografar e descrever o uso de objetos semelhantes aos encontrados no acervo do Museu do Ipiranga que você possua em casa.") }}
                {{ _("Por exemplo, você tem um <a target=\"_blank\" href=\"https://wikiusos.toolforge.org/item/Q65033097\"><i>ralador de queijo</i> como este</a> na cozinha da sua casa? Você o utiliza somente para ralar queijo? Ou o usa como peça decorativa? Ele tem alguma história especial?") }}
            </div>
        </div>
        {# O que há no brasão? #}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half" style="padding-top: 30px; padding-bottom: 30px">
                <a target="_blank" href="https://wikibrasoes.toolforge.org/" style="background-color:transparent">
                    {% if lang=="en" %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - O que há no brasão - en.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - O que há no brasão?") }}' width="100%"/>
                    {% else %}
                        <img class="banner"
                             src="https://commons.wikimedia.org/wiki/Special:FilePath/WikiMI - O que há no brasão - pt.svg"
                             alt='{{ _("Logotipo Wiki Museu do Ipiranga - O que há no brasão?") }}' width="100%"/>
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <div class="w3-container w3-half">
                {{ _("<b>O que há no brasão?</b> te convida a identificar os elementos heráldicos dos brasões retratados em obras e objetos do acervo do Museu do Ipiranga.") }}
                {{ _("Por exemplo, você consegue identificar todos os elementos presentes <a target=\"_blank\" href=\"https://wikibrasoes.toolforge.org/item/Q55851804\"><i>nesta pintura de brasão de José Wasth Rodrigues</i></a>?") }}
            </div>
        </div>
    </div>
{% endblock %}
