{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Página inicial") }}{% endblock %}

{% block banner %}
    <h1 style="font-family: Satisfy;font-size: 400%;text-align: center;color: #0068a3; padding:30px">
        Trajo
    </h1>
    <h2 style="text-align:center; padding:30px;">{{ _("Descreva as vestimentas e os objetos usados pelas<br>pessoas retratadas nas obras do Museu do Ipiranga") }}</h2>
{% endblock %}

{% block content %}
    <div class="w3-container w3-third"></div>
    <div class="w3-container w3-third">
        <a href="{{ url_for('colecao', type='homens') }}" title="{{ _('Homens') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Homens') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='mulheres') }}" title="{{ _('Mulheres') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Mulheres') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='jovens') }}" title="{{ _('Jovens') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Jovens') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='idosos') }}" title="{{ _('Idosos') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Idosos') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='nacionalidades') }}" title="{{ _('Nacionalidades') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Nacionalidades') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='etnias') }}" title="{{ _('Etnias') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Etnias') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='ocupacoes') }}" title="{{ _('Ocupações') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Ocupações') }}
            </button>
        </a>
        <a href="{{ url_for('colecao', type='pessoas_conhecidas') }}" title="{{ _('Pessoas conhecidas') }}">
            <button type="button"
                    class="btn btn-primary"
                    style="font-size:150%;
                    background-color: #0068a3;
                    border-color: #0068a3;
                    margin: 3px;
                    width:100%">
                {{ _('Pessoas conhecidas') }}
            </button>
        </a>
    </div>
{% endblock %}