{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Página inicial") }}{% endblock %}

{% block banner %}
    <div class="w3-row">
        <div class="w3-container w3-quarter"></div>
        <h1 class="w3-container w3-half" style="text-align: center; padding-top:60px; padding-bottom:60px">
            {% if lang=="en" %}
                <img class="banner" src="{{ url_for('static', filename= 'WikiMI - Com que roupa eu vou - en.svg') }}" alt='{{ _("Logotipo Wiki Museu do Ipiranga - Com que roupa eu vou?") }}' width="100%"/>
            {% else %}
                <img class="banner" src="{{ url_for('static', filename= 'WikiMI - Com que roupa eu vou - pt.svg') }}" alt='{{ _("Logotipo Wiki Museu do Ipiranga - Com que roupa eu vou?") }}' width="100%"/>
            {% endif %}
        </h1>
    </div>
    <div class="w3-row">
        <div class="w3-container w3-quarter"></div>
        <div class="w3-container w3-half">
            <h2 style="text-align:center; padding-bottom:30px;">
                {{ _("Bem-vindo(a) ao <i>Wiki Museu do Ipiranga - Com que roupa eu vou?</i>")}}
            </h2>
            <h3 style="text-align:center; padding-bottom:30px;">
                {{_("Neste aplicativo, você participa do trabalho de pesquisa do Museu do Ipiranga. Sua tarefa: identificar roupas, objetos e acessórios nas obras do acervo. Para participar, é preciso autenticar-se; depois, escolha uma categoria abaixo para começar.") }}</h3>
            </h3>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <div class="w3-row">
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='homens') }}" title="{{ _('Homens') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Homens') }}
                    </button>
                </a>
            </div>
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='mulheres') }}" title="{{ _('Mulheres') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Mulheres') }}
                    </button>
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='jovens') }}" title="{{ _('Jovens') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Jovens') }}
                    </button>
                </a>
            </div>
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='idosos') }}" title="{{ _('Idosos') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Idosos') }}
                    </button>
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='nacionalidades') }}" title="{{ _('Nacionalidades') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Nacionalidades') }}
                    </button>
                </a>
            </div>
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='etnias') }}" title="{{ _('Etnias') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Etnias') }}
                    </button>
                </a>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='ocupacoes') }}" title="{{ _('Ocupações') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Ocupações') }}
                    </button>
                </a>
            </div>
            <div class="w3-container w3-half">
                <a href="{{ url_for('colecao', type='pessoas_conhecidas') }}" title="{{ _('Pessoas conhecidas') }}">
                    <button type="button"
                            class="btn btn-primary"
                            style="font-size:150%;
                            background-color: #0068a3;
                            border-color: #0068a3;
                            margin: 3px;
                            width:100%">
                        {{ _('Pessoas conhecidas') }}
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}