{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Sobre") }}{% endblock %}

{% block content %}
<div class="w3-row" id="sobre" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half" style="font-size: 125%; text-align: left">
        <p>
            {{_("<b>Trajo</b> é um aplicativo gamificado colaborativo. O propósito é contribuir com a descrição das obras no acervo do Museu Paulista da Universidade de São Paulo.")}}<br><br>
            {{_("Está conectado à base de dados colaborativa Wikidata, um projeto irmão da Wikipédia. Toda contribuição que é feita no <b>Trajo</b> é automaticamente transmitida para o respectivo item da obra editada no Wikidata.")}}<br><br>
            {{_("As edições são então transpostas para uma série de páginas na internet. Isso inclui livros colaborativos, repositórios de imagens e em alguns casos a própria Wikipédia.")}}<br><br>
            {{_("O nome do aplicativo é uma brincadeira com o verbo <i>trajar</i>, fazendo referência ao foco do aplicativo em descrever vestimentas e objetos usados pelas pessoas retratadas no acervo do Museu Paulista.")}}<br><br>
            {{_("Participe e divulgue!")}}<br><br>
        </p>
        <hr>
        <p>
            {% set flask %}<a target='_blank' href='https://pt.wikipedia.org/wiki/Flask_(framework_web)'><i>{{_("Flask")}}</i></a>{% endset %}
            {% set github %}<a target='_blank' href='https://github.com/WikiMovimentoBrasil/trajo'>{{_("GitHub")}}</a>{% endset %}
            {% set license_code %}<a target='_blank' href='https://github.com/WikiMovimentoBrasil/trajo/blob/master/LICENSE'>{{_("GPL v3.0")}}</a>{% endset %}
            {% set license_text %}<a target='_blank' href='https://creativecommons.org/licenses/by-sa/4.0/'>{{_("CC-BY-SA 4.0 Internacional")}}</a>{% endset %}
            {% set license_wikidata %}<a target='_blank' href='https://creativecommons.org/share-your-work/public-domain/cc0/'>{{_("CC0")}}</a>{% endset %}
            <small>
                {{_("Este aplicativo foi desenvolvido em %(flask)s.", flask=flask)}}<br>
                {{_("O código-fonte está disponível no %(github)s.", github=github)}}<br>
                {{_("Licença do cógido-fonte: %(license_code)s.", license_code=license_code)}}<br>
                {{_("Licença de textos: %(license_text)s.", license_text=license_text)}}<br>
                {{_("Licença dos objetos retornados do Wikidata: %(license_wikidata)s.", license_wikidata=license_wikidata)}}<br>
                {{_("Versão 1.0.")}}
            </small>
        </p>
    </div>
</div>
{% endblock %}