{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Tutorial") }}{% endblock %}

{% block content %}
<div class="w3-row" id="tutorial" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <video style="width: 100%; height: auto" controls>
            <source src="{{ url_for('static',filename='Trajo.mp4') }}" type="video/mp4">
        </video>
    </div>
</div>
{% endblock %}