{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Tutorial") }}{% endblock %}

{% block content %}
<div class="w3-row" id="tutorial" style="text-align: center">
    <div class="w3-container w3-quarter"></div>
    <div class="w3-container w3-half">
        <video style="width: 100%; height: auto" controls>
            <source src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Trajo.webm" type="video/mp4">
            <track src="{{ url_for('static', filename='subtitles_tutorial_en.vtt') }}" kind="subtitles" srclang="en" label="English" />
        </video>
    </div>
</div>
{% endblock %}